<!DOCTYPE html>
<html>
  <head>
    <title>Rails6SaasBlogStripeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://js.stripe.com/v3/' ></script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <%= link_to 'Posts', posts_path %>
    <%= link_to 'Pricing', pricing_path %>
    <hr/>
    <% if current_user %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to 'log out', destroy_user_session_path, method: :delete %>
      <br/>
      Plan: <%= current_user.plan %>
      <br/>
      Subscription Status: <%= current_user.subscription_status %>
      <br/>
      Stripe Id: <%= current_user.stripe_customer_id %>
    <% else %>
      <%= link_to 'log in', new_user_session_path %>
      <%= link_to 'register', new_user_registration_path %>
    <% end %>
    
    <hr/>

    <%= yield %>
  </body>
</html>
